:root {
  --clr-brand: #43281c;
  --clr-primary: #eee1d5;
  --clr-secondary: #fbf2c0;
  --clr-accent: #deb993;
  --clr-neutral: #efefef;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--clr-neutral);
  font-family: "Open Sans", sans-serif;
}

input {
  height: 30px;
  background: transparent;
  border: 2px solid var(--clr-brand);
  border-radius: 100px;
  padding-left: 12px;
}

button {
  padding: 0.5rem;
  width: 100%;
  color: var(--clr-brand);
  background: var(--clr-accent);
  border: none;
  border-radius: 100px;
}

.layout {
  display: grid;
  padding-inline: 20px;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
}

.branding {
  grid-column: 1/3;
  grid-row: 1;
}

.card.items {
  grid-column: 1/2;
  grid-row: 2/4;
}

.card.name {
  grid-column: 2;
  grid-row: 2;
}
.card.payment {
  grid-column: 2;
  grid-row: 3;
}

.calc {
  grid-column: 1/3;
  grid-row: 4;
}

.cta {
  background: lightgreen;
  grid-column: 1/3;
  grid-row: 5;
}
/* end grid */
.branding {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background: var(--clr-brand);
  color: var(--clr-secondary);
}

.branding img {
  height: 50%;
}

.card {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 10px;
  color: var(--clr-brand);
  background: var(--clr-primary);
  border-radius: 5px;
  box-shadow: 0px 0px 2px 2px #888;
}

.input-field {
  display: flex;
  flex-direction: column;
  color: var(--clr-brand);
  position: relative;
}

.input-field > label {
  position: absolute;
  top: -7px;
  left: 25px;
  background: var(--clr-primary);
  font-size: 10px;
  padding: 2px 2px;
}
/* TODO: FIX */
/* ! instructor used border-bottom -- KISS */
/* accent line */
.item::after {
  content: "";
  background: var(--clr-accent);
  width: 100px;
  height: 1px;
  left: 0px;
  top: 5px;
}

.item > div {
  color: var(--clr-accent);
}

.item > div:first-child {
  display: flex;
  gap: 5px;
  color: black;
}

.item-name {
  flex-grow: 1;
}

.calc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calc div {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.total:last-child {
  color: red;
  font-weight: 700;
}
